nav {
    background-color: red;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
}


.link:hover {
    border-bottom: 2px solid white;
}